<div class="sidebar-container" [class.expanded]="isExpanded || isHovering" (mouseenter)="setHover()"
  (mouseleave)="clearHover()">
  <ng-container *ngFor="let item of navItems">
    <button mat-button class="sidebar-btn" [class.active]="selectedLabel === item.label" [routerLink]="item.route"
      routerLinkActive="active" (click)="select(item.label)">
      <mat-icon>{{ item.icon }}</mat-icon>
      <span *ngIf="isExpanded || isHovering">{{ item.label }}</span>
    </button>
  </ng-container>

  <div class="sidebar-footer" *ngIf="isExpanded || isHovering">
    <button mat-button class="sidebar-btn footer-btn">
      <span>Open-source licenses</span>
    </button>
  </div>
</div>