<div class="home-layout">
  <app-navbar (toggleSidenav)="toggleSidenavCollapse()" (logout)="logout()">
  </app-navbar>

  <mat-drawer-container #drawerContainer class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" [opened]="true" [style.width]="sidenavWidth">
      <app-sidenav [isExpanded]="!sidenavCollapsed"></app-sidenav>
    </mat-drawer>

    <mat-drawer-content class="example-sidenav-content">
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>